html,
html body {
  padding: 0;
  margin: 0;
  font-family: var(--font-poppins);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffff;
  overflow-x: hidden;
}

html {
  overflow: visible;
}

body {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    border-radius: 8px;
  }

  @media screen and (max-width: 600px) {
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
      border-radius: 50%;
    }
  }
}

.wrap-table-grid {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 56px);
}

.PhoneInput {
  height: 60px;
  border: 1.5px solid #9f9f9f;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 16px !important;
}

.PhoneInput:has(.PhoneInputInput:focus) {
  padding: 7.5px;
  border: 2px solid #b88e2f !important;
}

.PhoneInputInput:focus {
  padding: 8px;
  border: unset;
  outline: none !important;
  box-shadow: none !important;
}
